@use "../base/abstracts" as *;

.button{
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin: 2px;
  &--pink{
    background-color: $pink-color;
  }
  &--light{
    background-color: $light-color;

  }
  &--blue{
    background-color: $blue-color;
  }
}