.card {
  margin: 50px auto;
  text-align: center;
  width: 400px;
  height: 400px;
  box-shadow: 0px 10px 30px -10px grey;
  border-radius: 5px;
}
.card__image {
  width: 200px;
  height: auto;
  margin-top: 10px;
}
.card_title {
  font-size: xx-large;
}
.card_body {
  font-weight: bold;
}
.card--pink {
  background-color: #f37070;
  color: white;
}
.card--light {
  background-color: #ffe8e8;
}
.card--blue {
  background-color: #9a83f0;
}